.masterpiece_creator_box {
    max-width: 1300px;  
    margin: 0 auto;

    h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        line-height: 22px;

        color: #FFFFFF;

        animation: textAnimOpacity 3s ease-in-out alternate;

        @keyframes textAnimOpacity {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;

        color: #FFFFFF;
        
        animation: descriptionAnimOpacity 6s ease-in-out alternate;

        @keyframes descriptionAnimOpacity {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    .box_slider {
        animation: sliderAnimOpacity 10s ease-in-out alternate;
        

        @keyframes sliderAnimOpacity {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}

.slider_inner {
    width: 100%;
}

.slider_item {
    width: 300px;
    height: 200px;

    background-position: center;
    background-size: cover;
    background-image: url(../../assets/images/mangaka/1.jpg);
}

.image2 {
    background-image: url(../../assets/images/mangaka/6.jpg);
}

.image3 {
    background-image: url(../../assets/images/mangaka/3.jpg);
}

.image4 {
    background-image: url(../../assets/images/mangaka/4.jpg);
}

.image5 {
    background-image: url(../../assets/images/mangaka/5.jpg);
}

.image6 {
    background-image: url(../../assets/images/mangaka/6.jpg);
}