.open_burger_menu {
    cursor: pointer;
    position: absolute;
    right: 20px;
    transform: scale(1.5);
}

.close_burger_menu {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}