.watch_wrapper {
    display: flex;
    flex-direction: column;

    span {
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;

        padding: 10px;

        background: rgba(186, 0, 244, 0.29);
        border-radius: 5px;
        cursor: pointer;
        color: #FFFFFF;
        transition: .2s;

        &:active {
            transform: translateY(5px);
        }

        &:last-child {
            margin: 10px 0 0 0;
        }

        @media only screen and (max-width: 425px) {
            font-size: 20px;
        }
    }
}

.episode_wrap {
    width: 500px;
    min-height: 300px;
    position: relative;

    border-radius: 10px;;
    margin-left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-image: url(../../assets/images/episodeBg.jpg);


    @media only screen and (max-width:425px) {
        margin-left: 0;
        height: 80%;
        width: 100%;
    }

        h4 {
            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            margin-inline: auto;
            line-height: 0px;
            letter-spacing: 0.15em;
            margin: 0;
            text-align: center;
            text-shadow: 0px 0px 10px orange;
    
            position: absolute;
            left: 50%;
            top: 10%;
    
            transform: translate(-50%, -50%);
            color: #FFFFFF;
    
            animation: animationTextShadow 20s infinite linear alternate;
    
            @keyframes animationTextShadow {
                0% {
                    text-shadow: 0px 0px 10px rgb(255, 0, 0);
                }
    
                10% {
                    text-shadow: 0px 0px 10px rgb(255, 81, 0);
                }
    
                20% {
                    text-shadow: 0px 0px 10px rgb(255, 136, 0);
                }
    
                30% {
                    text-shadow: 0px 0px 10px rgb(255, 217, 0);
                }
    
                40% {
                    text-shadow: 0px 0px 10px rgb(229, 255, 0);
                }
    
                50% {
                    text-shadow: 0px 0px 10px rgb(123, 255, 0);
                }
    
                60% {
                    text-shadow: 0px 0px 10px rgb(0, 255, 157);
                }
    
                70% {
                    text-shadow: 0px 0px 10px rgb(0, 255, 234);
                }
    
                80% {
                    text-shadow: 0px 0px 10px rgb(0, 225, 255);
                }
    
                90% {
                    text-shadow: 0px 0px 10px rgb(0, 153, 255);
                }
    
                100% {
                    text-shadow: 0px 0px 10px rgb(0, 68, 255);
                }
    
                130% {
                    text-shadow: 0px 0px 10px rgb(76, 0, 255);
                }
    
                140% {
                    text-shadow: 0px 0px 10px rgb(204, 0, 255);
                }
    
                150% {
                    text-shadow: 0px 0px 10px rgb(255, 0, 221);
                }
            }
        }

    div {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.player__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    video {
        border-radius: 10px;
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.active_button {
    -moz-box-shadow: 0px 0px 40px 12px rgba(0, 255, 255, 0.29);
    box-shadow: 0px 0px 40px 12px rgba(0, 255, 255, 0.29);
    -webkit-text-fill-color: #fffe12;
}